* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.user-card {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.user-card:hover {
    transform: translateY(-5px);
}

.user-card h2 {
    color: #0b539b;
    margin-bottom: 10px;
    font-size: larger;
}

.user-card p {
    margin: 8px 0;
    color: #555;
}

.user-card span {
    font-weight: bold;
}


@media (max-width : 696px){
    .user-card {
        width: 100%;
    }
}